.cards-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 7rem;
}

.card-text{
    font-size: 13px;
    text-align: center;
    width: 300px;
}

.card-img{
    width: 300px;
}

.card-3{
    height: 400px;
}